html,
body,
#root {
  height: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

body {
  position: relative;
  overflow-y: scroll;
  background-color: rgba(14, 21, 58, 1);
}

#hero {
  background-image: linear-gradient(rgba(14, 21, 58, 0.7), rgba(14, 21, 58, 0.7)), url('./turned-on-black-laptop-computer-on-table-2148217.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  position: relative;
}

h1 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

hr {
  display: block;
  color: rgba(34, 209, 238, 1);
  background-color: rgba(34, 209, 238, 1);
  padding: 0;
  margin: 0px auto;
  height: 1px;
  width: 85%;
}
